.App {
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9cokvFqkspHEfBikXZurlWcGBWFX9I3C4JmtR-IdGYCRIg_FP&usqp=CAU");
  background-repeat: repeat;
  min-height: 100vh;
}

#bingo-table th {
  padding: 0.1em;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.cell {
  cursor: pointer;
  height: 100%;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  font-size: 0.7em;
}

.active {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
  padding-bottom: 1em;
  margin: 1em;
  border-radius: 20px;
}

h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0px;
}

button {
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
  background-color: lightcoral;
  padding: 0.5em 1em;
  border: none;
  border-radius: 20px;
}
